<a href="https://colab.research.google.com/github/dhanhyuti/ET/blob/main/prac4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#list
subjects =[]
subjects.append('Python')
subjects.append('ETDS')
print(subjects)
A = [2, 33, 1, 0]
B = [22, 3, 0, -2]
A.append(8)
print(A)
A.sort()
print(A) # [0, 1, 2, 33]
A.insert(3,15)
print(A)
A.sort(reverse=True)
print(A)

['Python', 'ETDS']
[2, 33, 1, 0, 8]
[0, 1, 2, 8, 33]
[0, 1, 2, 15, 8, 33]
[33, 15, 8, 2, 1, 0]

In [8]:
#sets
my_set = {1, 2, 3, 4, 5}

print("Original Set:", my_set)
my_set.add(6)
my_set.update([7, 8, 9])

print("Modified Set:", my_set)

my_set.remove(3)
my_set.discard(8)

print("Final Set:", my_set)

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}


# Union
union_set = set1.union(set2)
print("Union Set:", union_set)

# Intersection
intersection_set = set1.intersection(set2)
print("Intersection Set:", intersection_set)

# Difference
difference_set = set1.difference(set2)
print("Difference Set (set1 - set2):", difference_set)

# Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference Set:", symmetric_difference_set)

Original Set: {1, 2, 3, 4, 5}
Modified Set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Final Set: {1, 2, 4, 5, 6, 7, 9}
Union Set: {1, 2, 3, 4, 5, 6, 7}
Intersection Set: {3, 4, 5}
Difference Set (set1 - set2): {1, 2}
Symmetric Difference Set: {1, 2, 6, 7}

In [10]:
#Dictionary
student = {
'name': 'Prayag',
'age': 30,
'grades': {'math': 90, 'history': 85, 'english': 95},
'courses': ['math', 'history', 'english']
}

print("Student Name:", student['name'])
print("Student Age:", student['age'])

print("Math Grade:", student['grades']['math'])

student['age'] = 21
student['grades']['english'] = 92

student['gender'] = 'Male'

print("\nUpdated Student Information:")
print(student)

print("\nIterating over Keys:")

for key in student.keys():
  print(key)

print("\nIterating over Values:")
for value in student.values():
  print(value)


print("\nIterating over Key-Value Pairs:")
for key, value in student.items():
  print(f"{key}: {value}")

Student Name: Prayag
Student Age: 30
Math Grade: 90

Updated Student Information:
{'name': 'Prayag', 'age': 21, 'grades': {'math': 90, 'history': 85, 'english': 92}, 'courses': ['math', 'history', 'english'], 'gender': 'Male'}

Iterating over Keys:
name
age
grades
courses
gender

Iterating over Values:
Prayag
21
{'math': 90, 'history': 85, 'english': 92}
['math', 'history', 'english']
Male

Iterating over Key-Value Pairs:
name: Prayag
age: 21
grades: {'math': 90, 'history': 85, 'english': 92}
courses: ['math', 'history', 'english']
gender: Male